apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: core-service-hpa
  namespace: fyp
spec:
  scaleTargetRef:
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    name: core-service-rollout
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    # configured to scale down slowly
    scaleDown:
      stabilizationWindowSeconds: 300 # how long back that the autoscaler should look to decide to scale down the deployment
      policies:
      - type: Pods
        value: 1
        periodSeconds: 300 # wait for 300 seconds after every scale down
