name: "terraform destroy"
on:
    # Manual trigger for terraform destroy
    workflow_dispatch:
        inputs:
            confirm_destroy:
                description: 'Type "destroy" to confirm Terraform destroy (THIS WILL DELETE ALL RESOURCES)'
                required: true
                default: ""
permissions:
    id-token: write # This is required for aws oidc connection
    contents: read # This is required for actions/checkout
env:
    AWS_REGION: ${{ secrets.AWS_REGION }}
    AWS_DYNAMODB_TABLE: ${{ secrets.AWS_DYNAMODB_TABLE }}
    TF_VAR_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
    TF_VAR_iam_user_name: ${{ secrets.IAM_USER_NAME }}
jobs:
    destroy:
        runs-on: ubuntu-latest
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.confirm_destroy == 'destroy'
        defaults:
            run:
                shell: bash
                working-directory: ./terraform
        steps:
            - name: Git checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials from AWS account
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Terraform fmt
              id: fmt
              run: terraform fmt -check
              continue-on-error: true

            - name: Terraform Init
              id: init
              env:
                  AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
                  AWS_BUCKET_KEY_NAME: ${{ secrets.AWS_BUCKET_KEY_NAME }}
              run: |
                  terraform init \
                    -backend-config="bucket=${AWS_BUCKET_NAME}" \
                    -backend-config="key=${AWS_BUCKET_KEY_NAME}" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="dynamodb_table=${AWS_DYNAMODB_TABLE}"

            - name: Terraform Validate
              id: validate
              run: terraform validate -no-color

            - name: Terraform Destroy
              run: terraform destroy -auto-approve -input=false
